.asiento {
    border-radius: 30% 30% 10% 10%;
    width: 25px;
    min-width: 25px;
    height: 25px;
    min-height: 25px;
    text-align: center;
}

.asiento_disponible {
    border: 1px solid #189FF5;
    color: #3E9EE0;
}

.asiento_elegido {
    background: #F4CB29;
    color: #3E9EE0;
    border: 1px solid #189FF5;

}

.asiento_ocupado {
    background: #EDEDF1;
}

.asiento-referencias {
    width: 200px;
    height: 100px;
    border-radius: 20%;
    box-shadow: inset;
    gap: 15px;
    opacity: 0.6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.asiento-referencias>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}